In [1]:
import pandas as pd
import numpy as np
import re
pd.set_option('display.max_rows', None)

In [16]:
features_cleaned = pd.read_csv("test_set.csv", sep= ";",index_col=0)

In [18]:
features_cleaned["just_feature_min_value"] = np.nan
features_cleaned["just_feature_max_value"]= np.nan
features_cleaned["all_feature_min_value"]= np.nan
features_cleaned["all_feature_max_value"]= np.nan
features_cleaned["all_feature_min_value_desc"]= np.nan
features_cleaned["all_feature_max_value_desc"]= np.nan

In [19]:
cancel = []

In [20]:
for i in range(0,len(features_cleaned)):
    print(i)
    if i in cancel:
        continue
        
    if isinstance(features_cleaned["chat_gpt_just_feature"][i], float):
        features_cleaned["just_feature_min_value"][i] = np.NaN
        
        features_cleaned["just_feature_max_value"][i] = np.NaN
        continue
        
        
    if "Infinity" in features_cleaned["chat_gpt_just_feature"][i] or "infinite" in features_cleaned["chat_gpt_just_feature"][i]:
        
        #m = re.search('(?<=Maximum:)(.*)', features_cleaned["chat_gpt_all_feature"][i])
        
        #x= m.groups()[0].split()
        
        
        features_cleaned["just_feature_max_value"][i]= np.NaN
        
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_just_feature"][2])
        features_cleaned["just_feature_min_value"][i] = m.groups()[0]
        
    
    elif "arbitrary" in features_cleaned["chat_gpt_just_feature"][i]:
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_just_feature"][2])
        features_cleaned["just_feature_max_value"][i] = m.groups()[0]
        
        features_cleaned["just_feature_max_value"][i] = np.NaN
        
    elif "unknown" in features_cleaned["chat_gpt_just_feature"][i] or "Unknown" in features_cleaned["chat_gpt_just_feature"][i]:
        features_cleaned["just_feature_min_value"][i] = np.NaN
        
        features_cleaned["just_feature_max_value"][i] = np.NaN
        
    elif "∞" in features_cleaned["chat_gpt_just_feature"][i] :
        features_cleaned["just_feature_min_value"][i] = np.NaN
        
        features_cleaned["just_feature_max_value"][i] = np.NaN  
        
    elif not any(char.isdigit() for char in features_cleaned["chat_gpt_just_feature"][i]):
        features_cleaned["just_feature_min_value"][i] = np.NaN
        
        features_cleaned["just_feature_max_value"][i] = np.NaN
    
        
    else:
        
        features_cleaned["chat_gpt_just_feature"][i] =features_cleaned["chat_gpt_just_feature"][i].replace(",", "")
        
        lis= re.findall(r"-?\d*\.\d+|-?\d+", features_cleaned["chat_gpt_just_feature"][i])
        
        if not lis or len(lis) < 2 or len(lis) > 2 :
            
            features_cleaned["just_feature_min_value"][i] = np.NaN
            features_cleaned["just_feature_max_value"][i]= np.NaN
            
        else:
            print(lis)
            #print(features_cleaned["chat_gpt_just_feature"][i])
            features_cleaned["just_feature_min_value"][i] = lis[0]
            features_cleaned["just_feature_max_value"][i]= lis[1]

0
1
2
3
4
5
6
7
8
9
10
11
['-10', '10']
12
['1000', '9999']
13
['1', '10000']
14
['-10', '40']
15
['1', '10']
16
['0', '1']
17
['0', '365']
18
['2000', '2022']
19
20
['1', '31']
21
22
23
24
['0', '1']
25
['0', '1000000']
26
['0.1', '4.5']
27
['0', '100']
28
['1', '10']
29
['0', '1000']
30
['-10', '40']
31
['0', '100']
32
['0', '100']
33
34
['1900', '2021']
35
['0', '1000']
36
37
38
['1995', '1995']
39
['1', '9999']
40
['1997', '1997']
41
['0', '10000']
42
['1990', '2010']
43
['1500', '2500']
44
['1', '3000']
45
['0', '100']
46
47
48
['0', '100']
49
['0', '1000000']
50
['2007', '2007']
51
52
['0', '100000']
53
['0', '100000']
54
['0', '99999']
55
['0', '100']
56
['0', '100']
57
['0', '100']
58
['0', '100']
59
60
['0', '100']
61
62
['0', '100000']
63
64
['0', '5000']
65
['0', '5000']
66
['2000', '2021']
67
['0', '100']
68
['0', '10000']
69
['0', '200']
70
['0', '30000']
71
['0', '40']
72
['0', '100']
73
['0.5', '5.0']
74
['0', '100000']
75
['0', '100']
76
['0', '10']
77
['0', '10']
78
['0', '1000']
79
['0', '100']
80
['0', '1000']
81
['0', '100']
82
['36', '48']
83
['0', '1000']
84
['0', '1']
85
86
['0', '100000']
87
['0.5', '10']
88
['1', '100']
89
['0', '100']
90
['0', '20']
91
['0', '1000']
92
['0', '1000']
93
['0', '100']
94
['0', '100']
95
['-30', '35']
96
['0', '100']
97
['-45', '35']
98
['0', '500']
99
['-30', '40']
100
['0', '1000']
101
['-40', '40']
102
['0', '200']
103
['-50', '40']
104
['0', '200']
105
['-40', '40']
106
['0', '100']
107
['-30', '30']
108
['0', '100']
109
['-40', '40']
110
111
['-30', '35']
112
['0', '500']
113
['-30', '40']
114
['0', '300']
115
['-10', '35']
116
['0', '500']
117
['-40', '30']
118
['0', '100']
119
['-46', '38']
120
['0', '100']
121
['0', '1000000']
122
['0', '1000']
123
['0', '1']
124
125
['0', '20000']
126
['0', '50000']
127
['0', '10000']
128
['0', '1000']
129
['0', '1000']
130
['0', '1000000']
131
['0', '1000']
132
['0', '10']
133
['0', '1']
134
135
['0', '1000']
136
['0', '1']
137
['0.0', '100.0']
138
['0', '1000000000']
139
['1', '10000']
140
141
['0', '27.049']
142
['0.1', '28.2']
143
['1000', '50000']
144
['0', '100']
145
['0.1', '100']
146
['4', '15']
147
['0', '1']
148
149
['0', '1']
150
['0.1', '20']
151
['60', '90']
152
['1', '100']
153
['1995', '2021']
154
['0', '100']
155
['0', '10']
156
['0', '10']
157
['0.0', '10.0']
158
159
['0', '1']
160
['0', '1']
161
['0', '1']
162
['0', '10']
163
['0', '1']
164
['0', '1']
165
['0', '1000']
166
['0.5', '1.5']
167
168
['0', '100']
169
['1', '10']
170
['1', '10']
171
['0.0', '1.0']
172
['-60', '0']
173
['0', '1']
174
['0.0', '1.0']
175
['0', '1']
176
['0', '100']
177
['0', '100']
178
['0', '100']
179
['1', '10']
180
['0', '10']
181
['0', '500000']
182
['120.0', '180.0']
183
['300', '850']
184
['18', '70']
185
['0', '10000000']
186
['15000', '200000']
187
['1', '10']
188
['1970', '2021']
189
['0', '100']
190
['18', '80']
191
192
['50', '500']
193
['1', '30']
194
['0', '100']
195
['1970', '2021']
196
['1', '100']
197
['18', '99']
198
['1000', '6000']
199
['50', '500']
200
['1', '20']
201
['0', '100']
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463

/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["chat_gpt_just_feature"][i] =features_cleaned["chat_gpt_just_feature"][i].replace(",", "")
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = lis[0]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i]= lis[1]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:43: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:56: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i]= np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3066623295.py:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["just_feature_max_value"][i] = np.NaN

In [21]:
features_cleaned

,name_of_the_features,id_of_the_features,name_of_the_dataset,datatype_of_the_feature,dataset_min_value,dataset_max_value,data_descr,chat_gpt_just_feature,chat_gpt_all_feature,chat_gpt_desc_feature,just_feature_min_value,just_feature_max_value,all_feature_min_value,all_feature_max_value,all_feature_min_value_desc,all_feature_max_value_desc
0,RIDGE,871,pollen,numeric,"-23,2839","21,4066",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.5\nMaximum: 10.0,The range of values for the feature RIDGE is u...,NaN,NaN,NaN,NaN,NaN,NaN
1,NUB,871,pollen,numeric,"-16,3935","17,2583",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 1,"The range of values for the feature ""NUB"" is n...",NaN,NaN,NaN,NaN,NaN,NaN
2,CRACK,871,pollen,numeric,"-31,413","30,3178",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 10,The range of values for the feature CRACK in t...,NaN,NaN,NaN,NaN,NaN,NaN
3,WEIGHT,871,pollen,numeric,"-34,0352","35,8028",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: Unknown\nMaximum: Unknown,"Unfortunately, without access to the actual da...",NaN,NaN,NaN,NaN,NaN,NaN
4,DENSITY,871,pollen,numeric,"-12,0391","10,8673",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.05\nMaximum: 1.0,"Without access to the dataset, it is not possi...",NaN,NaN,NaN,NaN,NaN,NaN
5,a1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The range of values for feature a1 is not prov...,NaN,NaN,NaN,NaN,NaN,NaN
6,a2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,"minimum: unknown, maximum: unknown.",The range of values for the feature a2 is not ...,NaN,NaN,NaN,NaN,NaN,NaN
7,a3,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,NaN,NaN,NaN,NaN,NaN,NaN
8,a4,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The minimum and maximum values for feature a4 ...,NaN,NaN,NaN,NaN,NaN,NaN
9,a5,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: unknown\nMaximum: unknown,The min and max values for the feature a5 are ...,NaN,NaN,NaN,NaN,NaN,NaN
10,y1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Unfortunately as an AI language model I cannot...,Based on the dataset the range of values for t...,NaN,NaN,NaN,NaN,NaN,NaN
11,y2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,Minimum: -10\nMaximum: 10,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,-10.0,1.000000e+01,NaN,NaN,NaN,NaN
12,productId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1000\nMaximum: 9999,Minimum: 1\nMaximum: 100000,Min: productId = 1\nMax: productId = 10000,1000.0,9.999000e+03,NaN,NaN,NaN,NaN
13,machineId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10000,Minimum: 1000\nMaximum: 5000,The minimum and maximum values for the feature...,1.0,1.000000e+04,NaN,NaN,NaN,NaN
14,temp,42183,dataset_sales,numeric,0,1,Dataset sales,temp: -10 to 40,Minimum: -100 degrees Celsius\nMaximum: 100 de...,"The range of values for the feature ""temp"" in ...",-10.0,4.000000e+01,NaN,NaN,NaN,NaN
15,weather_condition_id,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10,Minimum: 1\nMaximum: 10,"Based on the given dataset, the range of value...",1.0,1.000000e+01,NaN,NaN,NaN,NaN
16,isholiday,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0\nMaximum: 1,Minimum: 0 (assuming 0 represents not a holida...,The minimum and maximum values for the feature...,0.0,1.000000e+00,NaN,NaN,NaN,NaN
17,daysoff,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0 Maximum: 365,Minimum: 0\nMaximum: 365,"Based on the given dataset, the range of value...",0.0,3.650000e+02,NaN,NaN,NaN,NaN
18,year,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 2000\nMaximum: 2022,Minimum: 2000 Maximum: 2025,"Based on the given dataset description, the ra...",2000.0,2.022000e+03,NaN,NaN,NaN,NaN
19,month,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: January\nMaximum: December,Minimum: 1\nMaximum: 12,min(month): 1\nmax(month): 12,NaN,NaN,NaN,NaN,NaN,NaN
20,day,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 31,Minimum: 1\nMaximum: 31,The minimum and maximum values for the feature...,1.0,3.100000e+01,NaN,NaN,NaN,NaN
21,week_day,42183,dataset_sales,numeric,0,1,Dataset sales,Dataset: \n\nweek_day: [1 2 3 4 5 6 7]\n\nMini...,Minimum: 1\nMaximum: 7,min: Monday\nmax: Sunday,NaN,NaN,NaN,NaN,NaN,NaN
22,avail0,42183,dataset_sales,numeric,0,1,Dataset sales,NaN,Minimum: 0\nMaximum: 1,"For the feature ""avail0"" in the sales dataset ...",NaN,NaN,NaN,NaN,NaN,NaN
23,avail1,42183,dataset_sales,numeric,0,1,Dataset sales,Based on the available dataset the minimum and...,Minimum: 0\nMaximum: 1,min(avail1): 0\nmax(avail1): 1,NaN,NaN,NaN,NaN,NaN,NaN
24,avail2,42183,dataset_sales,numeric,0,1,Dataset sales,min: 0 max: 1,Minimum: 0\nMaximum: 1,min: avail2 = min value in the dataset sales\n...,0.0,1.000000e+00,NaN,NaN,NaN,NaN
25,sales,42183,dataset_sales,numeric,3,85,Dataset sales,Minimum: 0\nMaximum: 1000000,Minimum: 0\nMaximum: Unknown,The minimum and maximum values for the feature...,0.0,1.000000e+06,NaN,NaN,NaN,NaN
26,stdv,42183,dataset_sales,numeric,0,47,Dataset sales,min stdv: 0.1\nmax stdv: 4.5,Minimum value: 0.0\nMaximum value: 1.0,For the feature stdv the minimum value is 0 an...,0.1,4.500000e+00,NaN,NaN,NaN,NaN
27,qts,42545,stock_fardamento02,numeric,1,833,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Min: Unknown\nMax: Unknown,min: 0\nmax: unknown,0.0,1.000000e+02,NaN,NaN,NaN,NaN
28,Material,42545,stock_fardamento02,numeric,5367,65024,**Author**: \n\n**Source**: Unknown - Date u...,Min: 1\nMax: 10,Minimum: Unknown\nMaximum: Unknown,"Sorry, but I can't generate a range of values ...",1.0,1.000000e+01,NaN,NaN,NaN,NaN
29,pp,42545,stock_fardamento02,numeric,0,"20,1",**Author**: \n\n**Source**: Unknown - Date u...,Range: 0 to 1000,Minimum: unknown\nMaximum: unknown,"pp: min = Unknown, max = Unknown",0.0,1.000000e+03,NaN,NaN,NaN,NaN
30,TEMP,42545,stock_fardamento02,numeric,"8,4",26,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: -10°C\nMaximum: 40°C,The range of values for the feature TEMP in th...,"TEMP: min = unknown, max = unknown",-10.0,4.000000e+01,NaN,NaN,NaN,NaN
31,adm,42545,stock_fardamento02,numeric,28,230,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Minimum: Unknown\nMaximum: Unknown,"The range of values for the feature ""adm"" is m...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
32,Dem,42545,stock_fardamento02,numeric,36,239,**Author**: \n\n**Source**: Unknown - Date u...,Min: 0 \nMax: 100,"min(Dem) = ???, max(Dem) = ???","The range of values for the feature ""Dem"" is n...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
33,1990,43809,GDP-per-capita-all-countries,numeric,"424,823989","72906,52012",Gross Domestic Product (GDP) is the monetary v...,Minimum: unknown\nMaximum: unknown,"1990: [unknown minimum value, unknown maximum ...","To set a range of values for the feature ""1990...",NaN,NaN,NaN,NaN,NaN,NaN
34,1991,43809,GDP-per-capita-all-countries,numeric,"324,6360462","71753,72956",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1900\nMaximum: 2021,1991: Min Value = 1991 Max Value = 1991,min: 1991\nmax: 2019,1900.0,2.021000e+03,NaN,NaN,NaN,NaN
35,1992,43809,GDP-per-capita-all-countries,numeric,"300,9789673","71567,82752",Gross Domestic Product (GDP) is the monetary v...,Minimum value: 0\nMaximum value: 1000,Minimum: 1992\nMaximum: 1992,The dataset provides the GDP values for the ye...,0.0,1.000000e+03,NaN,NaN,NaN,NaN
36,1993,43809,GDP-per-capita-all-countries,numeric,"327,3411883","70082,38933",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 1993\nMaximum: 1993,"The range of values for the feature ""1993"" is ...",NaN,NaN,NaN,NaN,NaN,NaN
37,1994,43809,GDP-per-capita-all-countries,numeric,"342,4329064","72471,68729",Gross Domestic Product (GDP) is the monetary v...,1994: min = 0 max = 99999999,Minimum: 1994\nMaximum: 1994,The range of values for the feature 1994 in th...,NaN,NaN,NaN,NaN,NaN,NaN
38,1995,43809,GDP-per-capita-all-countries,numeric,"345,1363376","74994,38062",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1995\nMaximum: 1995,Minimum: 1995\nMaximum: 1995,min: 1995\nmax: 1995,1995.0,1.995000e+03,NaN,NaN,NaN,NaN
39,1996,43809,GDP-per-capita-all-countries,numeric,"379,151098","76848,79224",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 9999,Minimum: 1996\nMaximum: 1996,"The range of values for the feature ""1996"" in ...",1.0,9.999000e+03,NaN,NaN,NaN,NaN
40,1997,43809,GDP-per-capita-all-countries,numeric,"417,8391769","80390,06411",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1997\nMaximum: 1997,1997: min = 1997 max = 1997.,min: 1997\nmax: 1997,1997.0,1.997000e+03,NaN,NaN,NaN,NaN
41,1998,43809,GDP-per-capita-all-countries,numeric,"452,6620933","77421,10866",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 10000,Minimum: 1998\nMaximum: 1998,Min: 1998\nMax: 1998,0.0,1.000000e+04,NaN,NaN,NaN,NaN
42,1999,43809,GDP-per-capita-all-countries,numeric,"469,1280301","76654,25591",Gross Domestic Product (GDP) is the monetary v...,Min: 1990\nMax: 2010,1999: min=1999 max=1999,The minimum and maximum values for the feature...,1990.0,2.010000e+03,NaN,NaN,NaN,NaN
43,2000,43809,GDP-per-capita-all-countries,numeric,"455,8150878","86169,39432",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1500\nMaximum: 2500,Minimum: 2000\nMaximum: 2019,The range of values for the feature 2000 from ...,1500.0,2.500000e+03,NaN,NaN,NaN,NaN
44,2001,43809,GDP-per-capita-all-countries,numeric,"443,5747121","88138,42244",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 3000,Minimum: 2001 \nMaximum: 2001,The minimum and maximum values for the feature...,1.0,3.000000e+03,NaN,NaN,NaN,NaN
45,2002,43809,GDP-per-capita-all-countries,numeric,"450,4504171","92091,2766",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2002\nMaximum: 2002,The range of values for the feature 2002 is: M...,0.0,1.000000e+02,NaN,NaN,NaN,NaN
46,2003,43809,GDP-per-capita-all-countries,numeric,"469,7704098","91451,60854",Gross Domestic Product (GDP) is the monetary v...,2003: Minimum value: unknown. Maximum value: u...,Minimum: 2003\nMaximum: 2003,Based on the dataset provided the range of val...,NaN,NaN,NaN,NaN,NaN,NaN
47,2004,43809,GDP-per-capita-all-countries,numeric,"498,9798703","101329,4787",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 2004\nMaximum: 2004,Min: 2004\nMax: 2004,NaN,NaN,NaN,NaN,NaN,NaN
48,2005,43809,GDP-per-capita-all-countries,numeric,"528,9747838","97768,57115",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2005\nMaximum: 2005,Min: 2005\nMax: 2005,0.0,1.000000e+02,NaN,NaN,NaN,NaN
49,2006,43809,GDP-per-capita-all-countries,numeric,"555,799958","107541,4558",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 1000000,Minimum: 2006\nMaximum: 2006,The min and max values for the feature 2006 fr...,0.0,1.000000e+06,NaN,NaN,NaN,NaN
50,2007,43809,GDP-per-capita-all-countries,numeric,"586,9952654","109362,5076",Gross Domestic Product (GDP) is the monetary v...,Minimum: 2007\nMaximum: 2007,Minimum: 2007\nMaximum: 2007,Min: 485415.9\nMax: 21345493.9,2007.0,2.007000e+03,NaN,NaN,NaN,NaN
51,2008,43809,GDP-per-capita-all-countries,numeric,"615,0719745","111255,9944",Gross Domestic Product (GDP) is the monetary v...,"The minimum value for the feature ""2008"" is: u...",Minimum: 2008\nMaximum: 2008,Min: 2008\nMax: 2008,NaN,NaN,NaN,NaN,NaN,NaN
52,2009,43809,GDP-per-capita-all-countries,numeric,"616,6586194","108953,6771",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2009\nMax: 2009,Based on the given dataset the range of values...,0.0,1.000000e+05,NaN,NaN,NaN,NaN
53,2010,43809,GDP-per-capita-all-countries,numeric,"646,2953953","117518,7009",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,2010: min = 2010 max = 2010,Based on the given dataset description we can ...,0.0,1.000000e+05,NaN,NaN,NaN,NaN
54,2011,43809,GDP-per-capita-all-countries,numeric,"682,007332","124024,5682",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 99999,Minimum: 2011\nMaximum: 2011,Min: 2011 Max: 2011,0.0,9.999900e+04,NaN,NaN,NaN,NaN
55,2012,43809,GDP-per-capita-all-countries,numeric,"719,914259","126618,3727",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2012\nMaximum: 2012,"The range of values for the feature ""2012"" in ...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
56,2013,43809,GDP-per-capita-all-countries,numeric,"699,5928807","139962,1749",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2013\nMaximum: 2013,"The range of values for the feature ""2013"" can...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
57,2014,43809,GDP-per-capita-all-countries,numeric,"710,8121645","137832,9615",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2014\nMaximum: 2014,"The range of values for the feature ""2014"" in ...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
58,2015,43809,GDP-per-capita-all-countries,numeric,"744,7345426","123822,0833",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2015\nMaximum: 2015,"The range of values for the feature ""2015"" in ...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
59,2016,43809,GDP-per-capita-all-countries,numeric,"743,9035976","123573,6308",Gross Domestic Product (GDP) is the monetary v...,Minimum: Unknown\nMaximum: Unknown,Minimum: 2016\nMaximum: 2016,"The range of values for the feature ""2016"" in ...",NaN,NaN,NaN,NaN,NaN,NaN
60,2017,43809,GDP-per-capita-all-countries,numeric,"737,9785829","124609,3041",Gross Domestic Product (GDP) is the monetary v...,min: 0\nmax: 100,Min: 2017\nMax: 2017,To set a range of values for the feature 2017 ...,0.0,1.000000e+02,NaN,NaN,NaN,NaN
61,2018,43809,GDP-per-capita-all-countries,numeric,"744,182072","126898,4259",Gross Domestic Product (GDP) is the monetary v...,The minimum and maximum values for the feature...,Min: 2018 Max: 2018,Min: 1990\nMax: 2019,NaN,NaN,NaN,NaN,NaN,NaN
62,2019,43809,GDP-per-capita-all-countries,numeric,NaN,NaN,Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2019\nMax: 2019,To determine the range of values for the featu...,0.0,1.000000e+05,NaN,NaN,NaN,NaN
63,Unnamed:_0,43825,Nutritional-values-for-common-foods-and-products,numeric,0,8788,Context\nI found this data occasionally and I ...,min: -∞\nmax: +∞,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Unnamed:_...",NaN,NaN,NaN,NaN,NaN,NaN
64,calories,43825,Nutritional-values-for-common-foods-and-products,numeric,0,902,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,"min(calories), max(calories)","The range of values for the feature ""calories""...",0.0,5.000000e+03,NaN,NaN,NaN,NaN
65,lucopene,43825,Nutritional-values-for-common-foods-and-products,numeric,0,0,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,Minimum: 0\nMaximum: Unknown (Not provided in ...,Min: 0.0\n\nMax: 2181.0,0.0,5.000000e+03,NaN,NaN,NaN,NaN
66,Year,43831,Consumer-Price-Index,numeric,2013,2020,Consumer Price Indices (CPI) measure changes o...,Min: 2000 Max: 2021,Minimum: Year 0 (assuming it starts from year ...,"Based on the provided dataset, the range of va...",2000.0,2.021000e+03,NaN,NaN,NaN,NaN
67,Cereals_and_products,43831,Consumer-Price-Index,numeric,"107,5","152,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Min: 0, Max: Unlimited",Min: 0.00 \nMax: 600.00,0.0,1.000000e+02,NaN,NaN,NaN,NaN
68,Meat_and_fish,43831,Consumer-Price-Index,numeric,"106,3",197,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10000,Minimum: 0\nMaximum: Not provided,"Min: The minimum value for the feature ""Meat_a...",0.0,1.000000e+04,NaN,NaN,NaN,NaN
69,Egg,43831,Consumer-Price-Index,numeric,"102,7",157,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 200,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Egg"" in t...",0.0,2.000000e+02,NaN,NaN,NaN,NaN
70,Milk_and_products,43831,Consumer-Price-Index,numeric,"103,6","155,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 30000,Minimum: 0 \nMaximum: Unknown,Min: 0\nMax: 100,0.0,3.000000e+04,NaN,NaN,NaN,NaN
71,Oils_and_fats,43831,Consumer-Price-Index,numeric,"101,1","138,2",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 40,Minimum: 0.0\nMaximum: 100.0,"The range of values for the feature ""Oils_and_...",0.0,4.000000e+01,NaN,NaN,NaN,NaN
72,Fruits,43831,Consumer-Price-Index,numeric,"102,3","157,5",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Minimum: 0, Maximum: Unknown","The range of values for the feature ""Fruits"" i...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
73,Vegetables,43831,Consumer-Price-Index,numeric,"101,4","231,5",Consumer Price Indices (CPI) measure changes o...,min: 0.5 \nmax: 5.0,Minimum: 0\nMaximum: Not enough information pr...,Min: 0\nMax: 100,0.5,5.000000e+00,NaN,NaN,NaN,NaN
74,Pulses_and_products,43831,Consumer-Price-Index,numeric,"103,5","191,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100000,Minimum: 0\nMaximum: Cannot determine without ...,Min: 0\nMax: unknown,0.0,1.000000e+05,NaN,NaN,NaN,NaN
75,Sugar_and_Confectionery,43831,Consumer-Price-Index,numeric,"85,3","123,9",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,Minimum: 0\nMaximum: Unknown,There is insufficient information given in the...,0.0,1.000000e+02,NaN,NaN,NaN,NaN
76,Spices,43831,Consumer-Price-Index,numeric,"101,8","159,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: 100,"Based on the given dataset, the range of value...",0.0,1.000000e+01,NaN,NaN,NaN,NaN
77,Non-alcoholic_beverages,43831,Consumer-Price-Index,numeric,"104,8","142,1",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: Unknown,Non-alcoholic_beverages: Min = 0 Max = Unspeci...,0.0,1.000000e+01,NaN,NaN,NaN,NaN
78,"Prepared_meals,_snacks,_sweets_etc.",43831,Consumer-Price-Index,numeric,"106,7","161,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 1000,Minimum: 0\nMaximum: It is not possible to det...,Min: 0\nMax: 100,0.0,1.000000e+03,NaN,NaN,NaN,NaN
79,Food_and_beverages,43831,Consumer-Price-Index,numeric,"105,5",157,Consumer Price Indices (CPI) measure changes o...,Min: 0 Max: 100,Minimum: 0\nMaximum: 1,"The range of values for the feature ""Food_and_...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
80,"Pan,_tobacco_and_intoxicants",43831,Consumer-Price-Index,numeric,"105,1","186,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 1000,Minimum: 0\nMaximum: Unknown,"The minimum value for the feature ""Pan, tobacc...",0.0,1.000000e+03,NaN,NaN,NaN,NaN
81,Clothing,43831,Consumer-Price-Index,numeric,"105,9","154,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,Minimum: 0\nMaximum: Unknown (not given in the...,Min Value: Unknown\nMax Value: Unknown,0.0,1.000000e+02,NaN,NaN,NaN,NaN
82,Footwear,43831,Consumer-Price-Index,numeric,105,150,Consumer Price Indices (CPI) measure changes o...,Min: 36\nMax: 48,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Footwear""...",36.0,4.800000e+01,NaN,NaN,NaN,NaN

In [22]:
cancel=[]

In [23]:
for i in range(0,len(features_cleaned)):
    print(i)
    if i in cancel:
        continue
        
    if isinstance(features_cleaned["chat_gpt_all_feature"][i], float):
        features_cleaned["all_feature_min_value"][i] = np.NaN
        
        features_cleaned["all_feature_max_value"][i] = np.NaN
        continue
        
        
    if "Infinity" in features_cleaned["chat_gpt_all_feature"][i] or "infinite" in features_cleaned["chat_gpt_all_feature"][i] or "infinity" in features_cleaned["chat_gpt_all_feature"][i]:
        
        #m = re.search('(?<=Maximum:)(.*)', features_cleaned["chat_gpt_all_feature"][i])
        
        #x= m.groups()[0].split()
        
        
        features_cleaned["all_feature_max_value"][i]= np.NaN
        
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_all_feature"][2])
        features_cleaned["all_feature_min_value"][i] = m.groups()[0]
        
    
    elif "arbitrary" in features_cleaned["chat_gpt_all_feature"][i] or "any positive value"  in features_cleaned["chat_gpt_all_feature"][i]:
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_all_feature"][2])
        features_cleaned["all_feature_min_value"][i] = m.groups()[0]
        
        features_cleaned["all_feature_max_value"][i] = np.NaN
        
    elif "unknown" in features_cleaned["chat_gpt_all_feature"][i] or "Unknown" in features_cleaned["chat_gpt_all_feature"][i]:
        features_cleaned["all_feature_min_value"][i] = np.NaN
        
        features_cleaned["all_feature_max_value"][i] = np.NaN
    elif "∞" in features_cleaned["chat_gpt_all_feature"][i] or "Unlimited" in features_cleaned["chat_gpt_all_feature"][i] or "No limit" in features_cleaned["chat_gpt_all_feature"][i] or "unlimited" in features_cleaned["chat_gpt_all_feature"][i]:
        features_cleaned["all_feature_min_value"][i] = np.NaN
        
        features_cleaned["all_feature_max_value"][i] = np.NaN  
        
    elif not any(char.isdigit() for char in features_cleaned["chat_gpt_all_feature"][i]) :
        features_cleaned["all_feature_min_value"][i] = np.NaN
        
        features_cleaned["all_feature_max_value"][i] = np.NaN
    
        
    else:
        features_cleaned["chat_gpt_all_feature"][i] =features_cleaned["chat_gpt_all_feature"][i].replace(",", "")
        
        lis= re.findall(r"-?\d*\.\d+|-?\d+", features_cleaned["chat_gpt_all_feature"][i])
        
        if not lis or len(lis) > 2 or len(lis) < 2:
            
            features_cleaned["all_feature_min_value"][i] = np.NaN
            features_cleaned["all_feature_max_value"][i]= np.NaN
            
        else:
            print(lis)
            features_cleaned["all_feature_min_value"][i] = lis[0]
            features_cleaned["all_feature_max_value"][i]= lis[1]

0
['0.5', '10.0']
1
['0', '1']
2
['0', '10']
3
4
['0.05', '1.0']
5
6
7
8
9
10
['1', '1']
11
12
['1', '100000']
13
['1000', '5000']
14
['-100', '100']
15
['1', '10']
16
17
['0', '365']
18
['2000', '2025']
19
['1', '12']
20
['1', '31']
21
['1', '7']
22
['0', '1']
23
['0', '1']
24
['0', '1']
25
26
['0.0', '1.0']
27
28
29
30
31
32
33
34
35
['1992', '1992']
36
['1993', '1993']
37
['1994', '1994']
38
['1995', '1995']
39
['1996', '1996']
40
41
['1998', '1998']
42
43
['2000', '2019']
44
['2001', '2001']
45
['2002', '2002']
46
['2003', '2003']
47
['2004', '2004']
48
['2005', '2005']
49
['2006', '2006']
50
['2007', '2007']
51
['2008', '2008']
52
['2009', '2009']
53
54
['2011', '2011']
55
['2012', '2012']
56
['2013', '2013']
57
['2014', '2014']
58
['2015', '2015']
59
['2016', '2016']
60
['2017', '2017']
61
['2018', '2018']
62
['2019', '2019']
63
64
65
66
67
68
69
70
71
['0.0', '100.0']
72
73
74
75
76
['0', '100']
77
78
79
['0', '1']
80
81
82
83
84
85
86
87
88
89
90
91
92
93
['0', '100']
94
95
['-50', '40']
96
['0', '100']
97
['-40', '30']
98
['0', '100']
99
100
['0', '100']
101
['-50', '40']
102
['0', '500']
103
104
['0', '100']
105
['-50', '40']
106
['0', '1000']
107
['-40', '40']
108
['0', '500']
109
['-40', '35']
110
['0', '100']
111
112
['0', '100']
113
['-40', '40']
114
['0', '100']
115
116
['0', '300']
117
['-50', '25']
118
['0', '500']
119
120
['0', '1000']
121
122
123
['0', '10000000']
124
125
126
['0', '20000']
127
['0', '16000']
128
['0', '2000']
129
130
131
132
['0', '100']
133
134
['0', '10']
135
136
['0', '100']
137
['0', '100']
138
['1000', '1000000000']
139
['0.02', '19347.5']
140
['0', '85']
141
['2.1', '27.5']
142
['0', '27.049']
143
['500', '100000']
144
['0', '77.6']
145
['30.1', '724.4']
146
['0.99', '30.79']
147
148
['0', '51']
149
['0', '100']
150
['0', '13.8']
151
['54.6', '86.8']
152
153
['1900', '2022']
154
155
['0', '1']
156
['0', '1']
157
['0', '1']
158
['0', '1']
159
['0', '1']
160
['0', '1']
161
['0', '1']
162
163
['0', '1']
164
['0', '1']
165
166
167
168
['0', '1']
169
170
['0', '10']
171
['0.0', '1.0']
172
173
['0', '1']
174
['0', '1']
175
['0', '1']
176
['0', '1']
177
178
179
180
181
182
183
['300', '850']
184
['18', '99']
185
186
['0', '10000000']
187
['0', '1']
188
['2000', '2022']
189
190
['18', '99']
191
['1000', '5000']
192
193
194
195
196
197
198
199
200
201
202
['65', '256']
203
['86.6', '120.9']
204
['150', '230']
205
206
['47', '59']
207
['1488', '4066']
208
['61', '326']
209
['2.54', '3.94']
210
['2.36', '4.17']
211
['7', '23']
212
['48', '288']
213
['3800', '7000']
214
['8', '49']
215
['10', '54']
216
['5118', '45400']
217
218
['0', '18']
219
['1', '20']
220
['1', '18']
221
['0', '9']
222
['0', '9']
223
['0', '9']
224
['0', '120']
225
['16', '96']
226
227
['1', '9']
228
['0', '99']
229
['0', '999999']
230
['0', '999999']
231
['-180', '180']
232
['-90', '90']
233
['1', '98']
234
235
['0', '10']
236
['1', '999']
237
238
['0', '9999']
239
['1', '30']
240
241
['0', '120']
242
['1', '11']
243
['1', '8']
244
['1', '9']
245
['1', '9']
246
['1', '10']
247
['0', '1']
248
['0', '40']
249
['0', '1']
250
['7', '7']
251
['11', '11']
252
['11', '14']
253
254
['0', '40']
255
['16', '16']
256
['17', '17']
257
['21', '21']
258
['26', '26']
259
['27', '27']
260
['29', '29']
261
['30', '37']
262
['35', '35']
263
['36', '36']
264
['38', '38']
265
['2', '40']
266
['2', '40']
267
['2', '40']
268
['6', '6']
269
['4', '10']
270
['9', '9']
271
272
273
['31', '31']
274
['32', '32']
275
['33', '33']
276
['37', '37']
277
['40', '40']
278
['1', '10']
279
['1', '5']
280
['0', '100']
281
['0', '100']
282
['100', '5000']
283
['0', '1']
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
['0.1', '5.0']
301
['0', '100']
302
303
304
['0', '1']
305
['0', '1000000']
306
['15', '45']
307
['150', '220']
308
['50', '100']
309
310
['1', '99']
311
312
['0', '99']
313
['0', '99']
314
['0', '100']
315
['0', '99']
316
['0', '99']
317
['1', '99']
318
['0', '99']
319
['0', '100']
320
['1', '99']
321
['0', '100']
322
['1', '99']
323
324
325
['0', '100']
326
['0', '99']
327
['0', '99']
328
['1', '99']
329
['5', '95']
330
['5', '95']
331
['1', '99']
332
['1', '99']
333
['1', '6']
334
['0', '100']
335
['0', '200']
336
['0', '100000']
337
['1', '31']
338
['0', '23']
339
['0', '59']
340
['1', '31']
341
['0', '23']
342
['0', '59']
343
344
345
['0', '100']
346
347
['0', '9999999999999']
348
['-180', '180']
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
['9', '9']
393
['0', '49']
394
395
['0', '49']
396
['0', '49']
397
['0', '49']
398
['0', '49']
399
['5', '49']
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463

/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["chat_gpt_all_feature"][i] =features_cleaned["chat_gpt_all_feature"][i].replace(",", "")
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = lis[0]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i]= lis[1]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i]= np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i]= np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = m.groups()[0]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/4018802130.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value"][i] = np.NaN

In [24]:
features_cleaned

,name_of_the_features,id_of_the_features,name_of_the_dataset,datatype_of_the_feature,dataset_min_value,dataset_max_value,data_descr,chat_gpt_just_feature,chat_gpt_all_feature,chat_gpt_desc_feature,just_feature_min_value,just_feature_max_value,all_feature_min_value,all_feature_max_value,all_feature_min_value_desc,all_feature_max_value_desc
0,RIDGE,871,pollen,numeric,"-23,2839","21,4066",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.5\nMaximum: 10.0,The range of values for the feature RIDGE is u...,NaN,NaN,0.50,1.000000e+01,NaN,NaN
1,NUB,871,pollen,numeric,"-16,3935","17,2583",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 1,"The range of values for the feature ""NUB"" is n...",NaN,NaN,0.00,1.000000e+00,NaN,NaN
2,CRACK,871,pollen,numeric,"-31,413","30,3178",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 10,The range of values for the feature CRACK in t...,NaN,NaN,0.00,1.000000e+01,NaN,NaN
3,WEIGHT,871,pollen,numeric,"-34,0352","35,8028",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: Unknown\nMaximum: Unknown,"Unfortunately, without access to the actual da...",NaN,NaN,NaN,NaN,NaN,NaN
4,DENSITY,871,pollen,numeric,"-12,0391","10,8673",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.05\nMaximum: 1.0,"Without access to the dataset, it is not possi...",NaN,NaN,0.05,1.000000e+00,NaN,NaN
5,a1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The range of values for feature a1 is not prov...,NaN,NaN,NaN,NaN,NaN,NaN
6,a2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,"minimum: unknown, maximum: unknown.",The range of values for the feature a2 is not ...,NaN,NaN,NaN,NaN,NaN,NaN
7,a3,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,NaN,NaN,NaN,NaN,NaN,NaN
8,a4,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The minimum and maximum values for feature a4 ...,NaN,NaN,NaN,NaN,NaN,NaN
9,a5,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: unknown\nMaximum: unknown,The min and max values for the feature a5 are ...,NaN,NaN,NaN,NaN,NaN,NaN
10,y1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Unfortunately as an AI language model I cannot...,Based on the dataset the range of values for t...,NaN,NaN,1.00,1.000000e+00,NaN,NaN
11,y2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,Minimum: -10\nMaximum: 10,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,-10.0,1.000000e+01,NaN,NaN,NaN,NaN
12,productId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1000\nMaximum: 9999,Minimum: 1\nMaximum: 100000,Min: productId = 1\nMax: productId = 10000,1000.0,9.999000e+03,1.00,1.000000e+05,NaN,NaN
13,machineId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10000,Minimum: 1000\nMaximum: 5000,The minimum and maximum values for the feature...,1.0,1.000000e+04,1000.00,5.000000e+03,NaN,NaN
14,temp,42183,dataset_sales,numeric,0,1,Dataset sales,temp: -10 to 40,Minimum: -100 degrees Celsius\nMaximum: 100 de...,"The range of values for the feature ""temp"" in ...",-10.0,4.000000e+01,-100.00,1.000000e+02,NaN,NaN
15,weather_condition_id,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10,Minimum: 1\nMaximum: 10,"Based on the given dataset, the range of value...",1.0,1.000000e+01,1.00,1.000000e+01,NaN,NaN
16,isholiday,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0\nMaximum: 1,Minimum: 0 (assuming 0 represents not a holida...,The minimum and maximum values for the feature...,0.0,1.000000e+00,NaN,NaN,NaN,NaN
17,daysoff,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0 Maximum: 365,Minimum: 0\nMaximum: 365,"Based on the given dataset, the range of value...",0.0,3.650000e+02,0.00,3.650000e+02,NaN,NaN
18,year,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 2000\nMaximum: 2022,Minimum: 2000 Maximum: 2025,"Based on the given dataset description, the ra...",2000.0,2.022000e+03,2000.00,2.025000e+03,NaN,NaN
19,month,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: January\nMaximum: December,Minimum: 1\nMaximum: 12,min(month): 1\nmax(month): 12,NaN,NaN,1.00,1.200000e+01,NaN,NaN
20,day,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 31,Minimum: 1\nMaximum: 31,The minimum and maximum values for the feature...,1.0,3.100000e+01,1.00,3.100000e+01,NaN,NaN
21,week_day,42183,dataset_sales,numeric,0,1,Dataset sales,Dataset: \n\nweek_day: [1 2 3 4 5 6 7]\n\nMini...,Minimum: 1\nMaximum: 7,min: Monday\nmax: Sunday,NaN,NaN,1.00,7.000000e+00,NaN,NaN
22,avail0,42183,dataset_sales,numeric,0,1,Dataset sales,NaN,Minimum: 0\nMaximum: 1,"For the feature ""avail0"" in the sales dataset ...",NaN,NaN,0.00,1.000000e+00,NaN,NaN
23,avail1,42183,dataset_sales,numeric,0,1,Dataset sales,Based on the available dataset the minimum and...,Minimum: 0\nMaximum: 1,min(avail1): 0\nmax(avail1): 1,NaN,NaN,0.00,1.000000e+00,NaN,NaN
24,avail2,42183,dataset_sales,numeric,0,1,Dataset sales,min: 0 max: 1,Minimum: 0\nMaximum: 1,min: avail2 = min value in the dataset sales\n...,0.0,1.000000e+00,0.00,1.000000e+00,NaN,NaN
25,sales,42183,dataset_sales,numeric,3,85,Dataset sales,Minimum: 0\nMaximum: 1000000,Minimum: 0\nMaximum: Unknown,The minimum and maximum values for the feature...,0.0,1.000000e+06,NaN,NaN,NaN,NaN
26,stdv,42183,dataset_sales,numeric,0,47,Dataset sales,min stdv: 0.1\nmax stdv: 4.5,Minimum value: 0.0\nMaximum value: 1.0,For the feature stdv the minimum value is 0 an...,0.1,4.500000e+00,0.00,1.000000e+00,NaN,NaN
27,qts,42545,stock_fardamento02,numeric,1,833,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Min: Unknown\nMax: Unknown,min: 0\nmax: unknown,0.0,1.000000e+02,NaN,NaN,NaN,NaN
28,Material,42545,stock_fardamento02,numeric,5367,65024,**Author**: \n\n**Source**: Unknown - Date u...,Min: 1\nMax: 10,Minimum: Unknown\nMaximum: Unknown,"Sorry, but I can't generate a range of values ...",1.0,1.000000e+01,NaN,NaN,NaN,NaN
29,pp,42545,stock_fardamento02,numeric,0,"20,1",**Author**: \n\n**Source**: Unknown - Date u...,Range: 0 to 1000,Minimum: unknown\nMaximum: unknown,"pp: min = Unknown, max = Unknown",0.0,1.000000e+03,NaN,NaN,NaN,NaN
30,TEMP,42545,stock_fardamento02,numeric,"8,4",26,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: -10°C\nMaximum: 40°C,The range of values for the feature TEMP in th...,"TEMP: min = unknown, max = unknown",-10.0,4.000000e+01,NaN,NaN,NaN,NaN
31,adm,42545,stock_fardamento02,numeric,28,230,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Minimum: Unknown\nMaximum: Unknown,"The range of values for the feature ""adm"" is m...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
32,Dem,42545,stock_fardamento02,numeric,36,239,**Author**: \n\n**Source**: Unknown - Date u...,Min: 0 \nMax: 100,"min(Dem) = ???, max(Dem) = ???","The range of values for the feature ""Dem"" is n...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
33,1990,43809,GDP-per-capita-all-countries,numeric,"424,823989","72906,52012",Gross Domestic Product (GDP) is the monetary v...,Minimum: unknown\nMaximum: unknown,"1990: [unknown minimum value, unknown maximum ...","To set a range of values for the feature ""1990...",NaN,NaN,NaN,NaN,NaN,NaN
34,1991,43809,GDP-per-capita-all-countries,numeric,"324,6360462","71753,72956",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1900\nMaximum: 2021,1991: Min Value = 1991 Max Value = 1991,min: 1991\nmax: 2019,1900.0,2.021000e+03,NaN,NaN,NaN,NaN
35,1992,43809,GDP-per-capita-all-countries,numeric,"300,9789673","71567,82752",Gross Domestic Product (GDP) is the monetary v...,Minimum value: 0\nMaximum value: 1000,Minimum: 1992\nMaximum: 1992,The dataset provides the GDP values for the ye...,0.0,1.000000e+03,1992.00,1.992000e+03,NaN,NaN
36,1993,43809,GDP-per-capita-all-countries,numeric,"327,3411883","70082,38933",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 1993\nMaximum: 1993,"The range of values for the feature ""1993"" is ...",NaN,NaN,1993.00,1.993000e+03,NaN,NaN
37,1994,43809,GDP-per-capita-all-countries,numeric,"342,4329064","72471,68729",Gross Domestic Product (GDP) is the monetary v...,1994: min = 0 max = 99999999,Minimum: 1994\nMaximum: 1994,The range of values for the feature 1994 in th...,NaN,NaN,1994.00,1.994000e+03,NaN,NaN
38,1995,43809,GDP-per-capita-all-countries,numeric,"345,1363376","74994,38062",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1995\nMaximum: 1995,Minimum: 1995\nMaximum: 1995,min: 1995\nmax: 1995,1995.0,1.995000e+03,1995.00,1.995000e+03,NaN,NaN
39,1996,43809,GDP-per-capita-all-countries,numeric,"379,151098","76848,79224",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 9999,Minimum: 1996\nMaximum: 1996,"The range of values for the feature ""1996"" in ...",1.0,9.999000e+03,1996.00,1.996000e+03,NaN,NaN
40,1997,43809,GDP-per-capita-all-countries,numeric,"417,8391769","80390,06411",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1997\nMaximum: 1997,1997: min = 1997 max = 1997.,min: 1997\nmax: 1997,1997.0,1.997000e+03,NaN,NaN,NaN,NaN
41,1998,43809,GDP-per-capita-all-countries,numeric,"452,6620933","77421,10866",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 10000,Minimum: 1998\nMaximum: 1998,Min: 1998\nMax: 1998,0.0,1.000000e+04,1998.00,1.998000e+03,NaN,NaN
42,1999,43809,GDP-per-capita-all-countries,numeric,"469,1280301","76654,25591",Gross Domestic Product (GDP) is the monetary v...,Min: 1990\nMax: 2010,1999: min=1999 max=1999,The minimum and maximum values for the feature...,1990.0,2.010000e+03,NaN,NaN,NaN,NaN
43,2000,43809,GDP-per-capita-all-countries,numeric,"455,8150878","86169,39432",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1500\nMaximum: 2500,Minimum: 2000\nMaximum: 2019,The range of values for the feature 2000 from ...,1500.0,2.500000e+03,2000.00,2.019000e+03,NaN,NaN
44,2001,43809,GDP-per-capita-all-countries,numeric,"443,5747121","88138,42244",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 3000,Minimum: 2001 \nMaximum: 2001,The minimum and maximum values for the feature...,1.0,3.000000e+03,2001.00,2.001000e+03,NaN,NaN
45,2002,43809,GDP-per-capita-all-countries,numeric,"450,4504171","92091,2766",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2002\nMaximum: 2002,The range of values for the feature 2002 is: M...,0.0,1.000000e+02,2002.00,2.002000e+03,NaN,NaN
46,2003,43809,GDP-per-capita-all-countries,numeric,"469,7704098","91451,60854",Gross Domestic Product (GDP) is the monetary v...,2003: Minimum value: unknown. Maximum value: u...,Minimum: 2003\nMaximum: 2003,Based on the dataset provided the range of val...,NaN,NaN,2003.00,2.003000e+03,NaN,NaN
47,2004,43809,GDP-per-capita-all-countries,numeric,"498,9798703","101329,4787",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 2004\nMaximum: 2004,Min: 2004\nMax: 2004,NaN,NaN,2004.00,2.004000e+03,NaN,NaN
48,2005,43809,GDP-per-capita-all-countries,numeric,"528,9747838","97768,57115",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2005\nMaximum: 2005,Min: 2005\nMax: 2005,0.0,1.000000e+02,2005.00,2.005000e+03,NaN,NaN
49,2006,43809,GDP-per-capita-all-countries,numeric,"555,799958","107541,4558",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 1000000,Minimum: 2006\nMaximum: 2006,The min and max values for the feature 2006 fr...,0.0,1.000000e+06,2006.00,2.006000e+03,NaN,NaN
50,2007,43809,GDP-per-capita-all-countries,numeric,"586,9952654","109362,5076",Gross Domestic Product (GDP) is the monetary v...,Minimum: 2007\nMaximum: 2007,Minimum: 2007\nMaximum: 2007,Min: 485415.9\nMax: 21345493.9,2007.0,2.007000e+03,2007.00,2.007000e+03,NaN,NaN
51,2008,43809,GDP-per-capita-all-countries,numeric,"615,0719745","111255,9944",Gross Domestic Product (GDP) is the monetary v...,"The minimum value for the feature ""2008"" is: u...",Minimum: 2008\nMaximum: 2008,Min: 2008\nMax: 2008,NaN,NaN,2008.00,2.008000e+03,NaN,NaN
52,2009,43809,GDP-per-capita-all-countries,numeric,"616,6586194","108953,6771",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2009\nMax: 2009,Based on the given dataset the range of values...,0.0,1.000000e+05,2009.00,2.009000e+03,NaN,NaN
53,2010,43809,GDP-per-capita-all-countries,numeric,"646,2953953","117518,7009",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,2010: min = 2010 max = 2010,Based on the given dataset description we can ...,0.0,1.000000e+05,NaN,NaN,NaN,NaN
54,2011,43809,GDP-per-capita-all-countries,numeric,"682,007332","124024,5682",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 99999,Minimum: 2011\nMaximum: 2011,Min: 2011 Max: 2011,0.0,9.999900e+04,2011.00,2.011000e+03,NaN,NaN
55,2012,43809,GDP-per-capita-all-countries,numeric,"719,914259","126618,3727",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2012\nMaximum: 2012,"The range of values for the feature ""2012"" in ...",0.0,1.000000e+02,2012.00,2.012000e+03,NaN,NaN
56,2013,43809,GDP-per-capita-all-countries,numeric,"699,5928807","139962,1749",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2013\nMaximum: 2013,"The range of values for the feature ""2013"" can...",0.0,1.000000e+02,2013.00,2.013000e+03,NaN,NaN
57,2014,43809,GDP-per-capita-all-countries,numeric,"710,8121645","137832,9615",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2014\nMaximum: 2014,"The range of values for the feature ""2014"" in ...",0.0,1.000000e+02,2014.00,2.014000e+03,NaN,NaN
58,2015,43809,GDP-per-capita-all-countries,numeric,"744,7345426","123822,0833",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2015\nMaximum: 2015,"The range of values for the feature ""2015"" in ...",0.0,1.000000e+02,2015.00,2.015000e+03,NaN,NaN
59,2016,43809,GDP-per-capita-all-countries,numeric,"743,9035976","123573,6308",Gross Domestic Product (GDP) is the monetary v...,Minimum: Unknown\nMaximum: Unknown,Minimum: 2016\nMaximum: 2016,"The range of values for the feature ""2016"" in ...",NaN,NaN,2016.00,2.016000e+03,NaN,NaN
60,2017,43809,GDP-per-capita-all-countries,numeric,"737,9785829","124609,3041",Gross Domestic Product (GDP) is the monetary v...,min: 0\nmax: 100,Min: 2017\nMax: 2017,To set a range of values for the feature 2017 ...,0.0,1.000000e+02,2017.00,2.017000e+03,NaN,NaN
61,2018,43809,GDP-per-capita-all-countries,numeric,"744,182072","126898,4259",Gross Domestic Product (GDP) is the monetary v...,The minimum and maximum values for the feature...,Min: 2018 Max: 2018,Min: 1990\nMax: 2019,NaN,NaN,2018.00,2.018000e+03,NaN,NaN
62,2019,43809,GDP-per-capita-all-countries,numeric,NaN,NaN,Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2019\nMax: 2019,To determine the range of values for the featu...,0.0,1.000000e+05,2019.00,2.019000e+03,NaN,NaN
63,Unnamed:_0,43825,Nutritional-values-for-common-foods-and-products,numeric,0,8788,Context\nI found this data occasionally and I ...,min: -∞\nmax: +∞,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Unnamed:_...",NaN,NaN,NaN,NaN,NaN,NaN
64,calories,43825,Nutritional-values-for-common-foods-and-products,numeric,0,902,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,"min(calories), max(calories)","The range of values for the feature ""calories""...",0.0,5.000000e+03,NaN,NaN,NaN,NaN
65,lucopene,43825,Nutritional-values-for-common-foods-and-products,numeric,0,0,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,Minimum: 0\nMaximum: Unknown (Not provided in ...,Min: 0.0\n\nMax: 2181.0,0.0,5.000000e+03,NaN,NaN,NaN,NaN
66,Year,43831,Consumer-Price-Index,numeric,2013,2020,Consumer Price Indices (CPI) measure changes o...,Min: 2000 Max: 2021,Minimum: Year 0 (assuming it starts from year ...,"Based on the provided dataset, the range of va...",2000.0,2.021000e+03,NaN,NaN,NaN,NaN
67,Cereals_and_products,43831,Consumer-Price-Index,numeric,"107,5","152,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Min: 0, Max: Unlimited",Min: 0.00 \nMax: 600.00,0.0,1.000000e+02,NaN,NaN,NaN,NaN
68,Meat_and_fish,43831,Consumer-Price-Index,numeric,"106,3",197,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10000,Minimum: 0\nMaximum: Not provided,"Min: The minimum value for the feature ""Meat_a...",0.0,1.000000e+04,NaN,NaN,NaN,NaN
69,Egg,43831,Consumer-Price-Index,numeric,"102,7",157,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 200,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Egg"" in t...",0.0,2.000000e+02,NaN,NaN,NaN,NaN
70,Milk_and_products,43831,Consumer-Price-Index,numeric,"103,6","155,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 30000,Minimum: 0 \nMaximum: Unknown,Min: 0\nMax: 100,0.0,3.000000e+04,NaN,NaN,NaN,NaN
71,Oils_and_fats,43831,Consumer-Price-Index,numeric,"101,1","138,2",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 40,Minimum: 0.0\nMaximum: 100.0,"The range of values for the feature ""Oils_and_...",0.0,4.000000e+01,0.00,1.000000e+02,NaN,NaN
72,Fruits,43831,Consumer-Price-Index,numeric,"102,3","157,5",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Minimum: 0, Maximum: Unknown","The range of values for the feature ""Fruits"" i...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
73,Vegetables,43831,Consumer-Price-Index,numeric,"101,4","231,5",Consumer Price Indices (CPI) measure changes o...,min: 0.5 \nmax: 5.0,Minimum: 0\nMaximum: Not enough information pr...,Min: 0\nMax: 100,0.5,5.000000e+00,NaN,NaN,NaN,NaN
74,Pulses_and_products,43831,Consumer-Price-Index,numeric,"103,5","191,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100000,Minimum: 0\nMaximum: Cannot determine without ...,Min: 0\nMax: unknown,0.0,1.000000e+05,NaN,NaN,NaN,NaN
75,Sugar_and_Confectionery,43831,Consumer-Price-Index,numeric,"85,3","123,9",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,Minimum: 0\nMaximum: Unknown,There is insufficient information given in the...,0.0,1.000000e+02,NaN,NaN,NaN,NaN
76,Spices,43831,Consumer-Price-Index,numeric,"101,8","159,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: 100,"Based on the given dataset, the range of value...",0.0,1.000000e+01,0.00,1.000000e+02,NaN,NaN
77,Non-alcoholic_beverages,43831,Consumer-Price-Index,numeric,"104,8","142,1",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: Unknown,Non-alcoholic_beverages: Min = 0 Max = Unspeci...,0.0,1.000000e+01,NaN,NaN,NaN,NaN
78,"Prepared_meals,_snacks,_sweets_etc.",43831,Consumer-Price-Index,numeric,"106,7","161,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 1000,Minimum: 0\nMaximum: It is not possible to det...,Min: 0\nMax: 100,0.0,1.000000e+03,NaN,NaN,NaN,NaN
79,Food_and_beverages,43831,Consumer-Price-Index,numeric,"105,5",157,Consumer Price Indices (CPI) measure changes o...,Min: 0 Max: 100,Minimum: 0\nMaximum: 1,"The range of values for the feature ""Food_and_...",0.0,1.000000e+02,0.00,1.000000e+00,NaN,NaN
80,"Pan,_tobacco_and_intoxicants",43831,Consumer-Price-Index,numeric,"105,1","186,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 1000,Minimum: 0\nMaximum: Unknown,"The minimum value for the feature ""Pan, tobacc...",0.0,1.000000e+03,NaN,NaN,NaN,NaN

In [25]:
for i in range(0,len(features_cleaned)):
    print(i)
    if i in cancel:
        continue
        
    if isinstance(features_cleaned["chat_gpt_desc_feature"][i], float):
        features_cleaned["all_feature_min_value_desc"][i] = np.NaN
        
        features_cleaned["all_feature_max_value_desc"][i] = np.NaN
        continue
        
        
    if "Infinity" in features_cleaned["chat_gpt_desc_feature"][i] or "infinite" in features_cleaned["chat_gpt_desc_feature"][i] or "infinity" in features_cleaned["chat_gpt_desc_feature"][i]:
        
        #m = re.search('(?<=Maximum:)(.*)', features_cleaned["chat_gpt_all_feature"][i])
        
        #x= m.groups()[0].split()
        
        
        features_cleaned["all_feature_max_value_desc"][i]= np.NaN
        
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_desc_feature"][2])
        features_cleaned["all_feature_min_value_desc"][i] = m.groups()[0]
        
    
    elif "arbitrary" in features_cleaned["chat_gpt_desc_feature"][i] or "any positive value"  in features_cleaned["chat_gpt_desc_feature"][i]:
        m = re.search('(?<=Minimum:)(.*)', features_cleaned["chat_gpt_desc_feature"][2])
        features_cleaned["all_feature_min_value_desc"][i] = m.groups()[0]
        
        features_cleaned["all_feature_max_value_desc"][i] = np.NaN
        
    elif "unknown" in features_cleaned["chat_gpt_desc_feature"][i] or "Unknown" in features_cleaned["chat_gpt_desc_feature"][i]:
        features_cleaned["all_feature_min_value_desc"][i] = np.NaN
        
        features_cleaned["all_feature_max_value_desc"][i] = np.NaN
    elif "∞" in features_cleaned["chat_gpt_desc_feature"][i] or "Unlimited" in features_cleaned["chat_gpt_desc_feature"][i] or "No limit" in features_cleaned["chat_gpt_desc_feature"][i] or "unlimited" in features_cleaned["chat_gpt_desc_feature"][i]:
        features_cleaned["all_feature_min_value_desc"][i] = np.NaN
        
        features_cleaned["all_feature_max_value_desc"][i] = np.NaN  
        
    elif not any(char.isdigit() for char in features_cleaned["chat_gpt_desc_feature"][i]) :
        features_cleaned["all_feature_min_value_desc"][i] = np.NaN
        
        features_cleaned["all_feature_max_value_desc"][i] = np.NaN
    
        
    else:
        features_cleaned["chat_gpt_desc_feature"][i] =features_cleaned["chat_gpt_desc_feature"][i].replace(",", "")
        
        lis= re.findall(r"-?\d*\.\d+|-?\d+", features_cleaned["chat_gpt_desc_feature"][i])
        
        if not lis or len(lis) > 2 or len(lis) < 2:
            
            features_cleaned["all_feature_min_value_desc"][i] = np.NaN
            features_cleaned["all_feature_max_value_desc"][i]= np.NaN
            
        else:
            print(lis)
            features_cleaned["all_feature_min_value_desc"][i] = lis[0]
            features_cleaned["all_feature_max_value_desc"][i]= lis[1]

0
1
2
['0', '1']
3
4
5
['1', '.5']
6
7
8
['4', '.5']
9
10
['1', '1']
11
12
['1', '10000']
13
14
15
16
17
18
19
['1', '12']
20
21
22
23
24
['2', '2']
25
26
27
28
29
30
31
32
33
['1990', '1990']
34
['1991', '2019']
35
['1992', '1992']
36
37
38
['1995', '1995']
39
40
['1997', '1997']
41
['1998', '1998']
42
43
44
45
46
47
['2004', '2004']
48
['2005', '2005']
49
50
['485415.9', '21345493.9']
51
['2008', '2008']
52
53
['2010', '2010']
54
['2011', '2011']
55
56
57
['2014', '2014']
58
59
60
61
['1990', '2019']
62
63
64
65
['0.0', '2181.0']
66
67
['0.00', '600.00']
68
69
70
['0', '100']
71
72
73
['0', '100']
74
75
76
77
78
['0', '100']
79
80
81
82
83
['0', '100']
84
85
86
['100', '2000']
87
88
89
['0', '100']
90
['0', '100']
91
['0', '100']
92
['0', '100']
93
94
95
96
97
98
['0', '65']
99
['-18.3', '26.4']
100
101
['-34.6', '33.6']
102
['0.0', '123.7']
103
104
['0', '250']
105
106
107
108
109
110
['0.0', '72.8']
111
112
113
114
['0.0', '125.1']
115
116
117
118
['0', '300']
119
['-38.2', '36.0']
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
['0.0', '1.0']
137
138
139
140
141
['1.2', '27.049999999999997']
142
['70', '70']
143
['128.343', '116935.6']
144
['0.0', '77.6']
145
['79.37', '724.42']
146
147
148
['7.7', '78.1']
149
150
151
152
153
['1950', '2019']
154
['0.089365', '7.285776']
155
156
157
158
159
160
161
['0.0', '1.0']
162
['0', '1']
163
164
165
166
167
168
169
170
['0', '100']
171
['0.0', '1.0']
172
['-60.0', '0.0']
173
['0', '1']
174
['0', '1']
175
['0.0', '1.0']
176
177
178
['20', '65']
179
180
181
182
['-2.5729', '1.8196']
183
['350', '850']
184
['18', '92']
185
['0', '250898.09']
186
['11586', '199992']
187
['0', '1']
188
['1', '2023']
189
190
191
192
193
194
195
196
197
198
['800', '5000']
199
['0', '500']
200
201
202
['-3', '3']
203
204
['141.1', '208.1']
205
['60.3', '72.3']
206
['47.8', '59.8']
207
['1488', '4066']
208
['61', '326']
209
['2.54', '-3.94']
210
['2.07', '4.17']
211
['7.0', '23.0']
212
['48', '288']
213
['4150', '6600']
214
['13', '49']
215
['16', '54']
216
['5118', '45400']
217
218
219
220
221
['0', '2']
222
223
224
225
['1', '25']
226
['1', '99999']
227
228
['1', '36']
229
['23242', '655646']
230
['-100000', '1760000']
231
['-11.511', '1.7595']
232
233
['1', '98']
234
['1', '67']
235
236
['1', '941']
237
238
239
['1', '5']
240
241
['0', '98']
242
243
244
245
['1', '9']
246
247
248
249
250
['-3.105', '8.456']
251
['0', '40']
252
253
254
255
256
257
258
259
260
261
262
263
264
['0', '38']
265
266
267
268
269
270
271
272
273
274
275
276
277
278
['1', '10']
279
['1', '5']
280
281
['0', '100']
282
283
['1', '10']
284
285
286
287
288
['0.0', '78.5']
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
['1000', '5000000']
306
['16', '45']
307
308
['50', '110']
309
310
311
['1', '99']
312
313
314
315
316
['1', '99']
317
318
['1', '99']
319
320
['1', '99']
321
322
323
324
325
['10', '98']
326
327
328
['14', '92']
329
330
331
['1', '99']
332
['1', '99']
333
['0', '9']
334
335
336
['0.00', '338.00']
337
338
339
['0', '59']
340
341
['0', '23']
342
['0', '59']
343
344
345
['12.0', '100.0']
346
['65', '5456']
347
348
349
350
351
['2', '2']
352
['3', '3']
353
354
['5', '5']
355
356
['-10.0', '10.0']
357
358
359
360
361
362
363
364
['3', '3']
365
366
367
368
369
370
['4', '0']
371
372
373
374
['3', '3']
375
['4', '4']
376
377
378
379
380
381
382
383
['0', '21']
384
385
['2', '2']
386
387
388
['5', '0']
389
390
391
['8', '8']
392
393
['0', '1']
394
['0', '49']
395
396
397
398
399
400
['6', '6']
401
402
['8', '8']
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463

/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["chat_gpt_desc_feature"][i] =features_cleaned["chat_gpt_desc_feature"][i].replace(",", "")
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:59: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value_desc"][i] = lis[0]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:60: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value_desc"][i]= lis[1]
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:55: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value_desc"][i]= np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_min_value_desc"][i] = np.NaN
/var/folders/g5/1dssy_112cz_1wxrtkxbnzjc0000gn/T/ipykernel_80166/3825960285.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  features_cleaned["all_feature_max_value_desc"][i] = np.NaN

In [26]:
features_cleaned

,name_of_the_features,id_of_the_features,name_of_the_dataset,datatype_of_the_feature,dataset_min_value,dataset_max_value,data_descr,chat_gpt_just_feature,chat_gpt_all_feature,chat_gpt_desc_feature,just_feature_min_value,just_feature_max_value,all_feature_min_value,all_feature_max_value,all_feature_min_value_desc,all_feature_max_value_desc
0,RIDGE,871,pollen,numeric,"-23,2839","21,4066",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.5\nMaximum: 10.0,The range of values for the feature RIDGE is u...,NaN,NaN,0.50,1.000000e+01,NaN,NaN
1,NUB,871,pollen,numeric,"-16,3935","17,2583",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 1,"The range of values for the feature ""NUB"" is n...",NaN,NaN,0.00,1.000000e+00,NaN,NaN
2,CRACK,871,pollen,numeric,"-31,413","30,3178",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0\nMaximum: 10,The range of values for the feature CRACK in t...,NaN,NaN,0.00,1.000000e+01,0.000000,1.000000e+00
3,WEIGHT,871,pollen,numeric,"-34,0352","35,8028",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: Unknown\nMaximum: Unknown,"Unfortunately, without access to the actual da...",NaN,NaN,NaN,NaN,NaN,NaN
4,DENSITY,871,pollen,numeric,"-12,0391","10,8673",**Author**: \n**Source**: Unknown - Date unk...,NaN,Minimum: 0.05\nMaximum: 1.0,"Without access to the dataset, it is not possi...",NaN,NaN,0.05,1.000000e+00,NaN,NaN
5,a1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The range of values for feature a1 is not prov...,NaN,NaN,NaN,NaN,1.000000,5.000000e-01
6,a2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,"minimum: unknown, maximum: unknown.",The range of values for the feature a2 is not ...,NaN,NaN,NaN,NaN,NaN,NaN
7,a3,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,NaN,NaN,NaN,NaN,NaN,NaN
8,a4,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: Unknown\nMaximum: Unknown,The minimum and maximum values for feature a4 ...,NaN,NaN,NaN,NaN,4.000000,5.000000e-01
9,a5,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Minimum: unknown\nMaximum: unknown,The min and max values for the feature a5 are ...,NaN,NaN,NaN,NaN,NaN,NaN
10,y1,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,NaN,Unfortunately as an AI language model I cannot...,Based on the dataset the range of values for t...,NaN,NaN,1.00,1.000000e+00,1.000000,1.000000e+00
11,y2,23515,sulfur,numeric,0,1,&quot;The sulfur recovery unit (SRU) removes e...,Minimum: -10\nMaximum: 10,Minimum: Unknown\nMaximum: Unknown,Based on the information provided the range of...,-10.0,1.000000e+01,NaN,NaN,NaN,NaN
12,productId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1000\nMaximum: 9999,Minimum: 1\nMaximum: 100000,Min: productId = 1\nMax: productId = 10000,1000.0,9.999000e+03,1.00,1.000000e+05,1.000000,1.000000e+04
13,machineId,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10000,Minimum: 1000\nMaximum: 5000,The minimum and maximum values for the feature...,1.0,1.000000e+04,1000.00,5.000000e+03,NaN,NaN
14,temp,42183,dataset_sales,numeric,0,1,Dataset sales,temp: -10 to 40,Minimum: -100 degrees Celsius\nMaximum: 100 de...,"The range of values for the feature ""temp"" in ...",-10.0,4.000000e+01,-100.00,1.000000e+02,NaN,NaN
15,weather_condition_id,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 10,Minimum: 1\nMaximum: 10,"Based on the given dataset, the range of value...",1.0,1.000000e+01,1.00,1.000000e+01,NaN,NaN
16,isholiday,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0\nMaximum: 1,Minimum: 0 (assuming 0 represents not a holida...,The minimum and maximum values for the feature...,0.0,1.000000e+00,NaN,NaN,NaN,NaN
17,daysoff,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 0 Maximum: 365,Minimum: 0\nMaximum: 365,"Based on the given dataset, the range of value...",0.0,3.650000e+02,0.00,3.650000e+02,NaN,NaN
18,year,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 2000\nMaximum: 2022,Minimum: 2000 Maximum: 2025,"Based on the given dataset description, the ra...",2000.0,2.022000e+03,2000.00,2.025000e+03,NaN,NaN
19,month,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: January\nMaximum: December,Minimum: 1\nMaximum: 12,min(month): 1\nmax(month): 12,NaN,NaN,1.00,1.200000e+01,1.000000,1.200000e+01
20,day,42183,dataset_sales,numeric,0,1,Dataset sales,Minimum: 1\nMaximum: 31,Minimum: 1\nMaximum: 31,The minimum and maximum values for the feature...,1.0,3.100000e+01,1.00,3.100000e+01,NaN,NaN
21,week_day,42183,dataset_sales,numeric,0,1,Dataset sales,Dataset: \n\nweek_day: [1 2 3 4 5 6 7]\n\nMini...,Minimum: 1\nMaximum: 7,min: Monday\nmax: Sunday,NaN,NaN,1.00,7.000000e+00,NaN,NaN
22,avail0,42183,dataset_sales,numeric,0,1,Dataset sales,NaN,Minimum: 0\nMaximum: 1,"For the feature ""avail0"" in the sales dataset ...",NaN,NaN,0.00,1.000000e+00,NaN,NaN
23,avail1,42183,dataset_sales,numeric,0,1,Dataset sales,Based on the available dataset the minimum and...,Minimum: 0\nMaximum: 1,min(avail1): 0\nmax(avail1): 1,NaN,NaN,0.00,1.000000e+00,NaN,NaN
24,avail2,42183,dataset_sales,numeric,0,1,Dataset sales,min: 0 max: 1,Minimum: 0\nMaximum: 1,min: avail2 = min value in the dataset sales\n...,0.0,1.000000e+00,0.00,1.000000e+00,2.000000,2.000000e+00
25,sales,42183,dataset_sales,numeric,3,85,Dataset sales,Minimum: 0\nMaximum: 1000000,Minimum: 0\nMaximum: Unknown,The minimum and maximum values for the feature...,0.0,1.000000e+06,NaN,NaN,NaN,NaN
26,stdv,42183,dataset_sales,numeric,0,47,Dataset sales,min stdv: 0.1\nmax stdv: 4.5,Minimum value: 0.0\nMaximum value: 1.0,For the feature stdv the minimum value is 0 an...,0.1,4.500000e+00,0.00,1.000000e+00,NaN,NaN
27,qts,42545,stock_fardamento02,numeric,1,833,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Min: Unknown\nMax: Unknown,min: 0\nmax: unknown,0.0,1.000000e+02,NaN,NaN,NaN,NaN
28,Material,42545,stock_fardamento02,numeric,5367,65024,**Author**: \n\n**Source**: Unknown - Date u...,Min: 1\nMax: 10,Minimum: Unknown\nMaximum: Unknown,"Sorry, but I can't generate a range of values ...",1.0,1.000000e+01,NaN,NaN,NaN,NaN
29,pp,42545,stock_fardamento02,numeric,0,"20,1",**Author**: \n\n**Source**: Unknown - Date u...,Range: 0 to 1000,Minimum: unknown\nMaximum: unknown,"pp: min = Unknown, max = Unknown",0.0,1.000000e+03,NaN,NaN,NaN,NaN
30,TEMP,42545,stock_fardamento02,numeric,"8,4",26,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: -10°C\nMaximum: 40°C,The range of values for the feature TEMP in th...,"TEMP: min = unknown, max = unknown",-10.0,4.000000e+01,NaN,NaN,NaN,NaN
31,adm,42545,stock_fardamento02,numeric,28,230,**Author**: \n\n**Source**: Unknown - Date u...,Minimum: 0\nMaximum: 100,Minimum: Unknown\nMaximum: Unknown,"The range of values for the feature ""adm"" is m...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
32,Dem,42545,stock_fardamento02,numeric,36,239,**Author**: \n\n**Source**: Unknown - Date u...,Min: 0 \nMax: 100,"min(Dem) = ???, max(Dem) = ???","The range of values for the feature ""Dem"" is n...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
33,1990,43809,GDP-per-capita-all-countries,numeric,"424,823989","72906,52012",Gross Domestic Product (GDP) is the monetary v...,Minimum: unknown\nMaximum: unknown,"1990: [unknown minimum value, unknown maximum ...","To set a range of values for the feature ""1990...",NaN,NaN,NaN,NaN,1990.000000,1.990000e+03
34,1991,43809,GDP-per-capita-all-countries,numeric,"324,6360462","71753,72956",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1900\nMaximum: 2021,1991: Min Value = 1991 Max Value = 1991,min: 1991\nmax: 2019,1900.0,2.021000e+03,NaN,NaN,1991.000000,2.019000e+03
35,1992,43809,GDP-per-capita-all-countries,numeric,"300,9789673","71567,82752",Gross Domestic Product (GDP) is the monetary v...,Minimum value: 0\nMaximum value: 1000,Minimum: 1992\nMaximum: 1992,The dataset provides the GDP values for the ye...,0.0,1.000000e+03,1992.00,1.992000e+03,1992.000000,1.992000e+03
36,1993,43809,GDP-per-capita-all-countries,numeric,"327,3411883","70082,38933",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 1993\nMaximum: 1993,"The range of values for the feature ""1993"" is ...",NaN,NaN,1993.00,1.993000e+03,NaN,NaN
37,1994,43809,GDP-per-capita-all-countries,numeric,"342,4329064","72471,68729",Gross Domestic Product (GDP) is the monetary v...,1994: min = 0 max = 99999999,Minimum: 1994\nMaximum: 1994,The range of values for the feature 1994 in th...,NaN,NaN,1994.00,1.994000e+03,NaN,NaN
38,1995,43809,GDP-per-capita-all-countries,numeric,"345,1363376","74994,38062",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1995\nMaximum: 1995,Minimum: 1995\nMaximum: 1995,min: 1995\nmax: 1995,1995.0,1.995000e+03,1995.00,1.995000e+03,1995.000000,1.995000e+03
39,1996,43809,GDP-per-capita-all-countries,numeric,"379,151098","76848,79224",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 9999,Minimum: 1996\nMaximum: 1996,"The range of values for the feature ""1996"" in ...",1.0,9.999000e+03,1996.00,1.996000e+03,NaN,NaN
40,1997,43809,GDP-per-capita-all-countries,numeric,"417,8391769","80390,06411",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1997\nMaximum: 1997,1997: min = 1997 max = 1997.,min: 1997\nmax: 1997,1997.0,1.997000e+03,NaN,NaN,1997.000000,1.997000e+03
41,1998,43809,GDP-per-capita-all-countries,numeric,"452,6620933","77421,10866",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 10000,Minimum: 1998\nMaximum: 1998,Min: 1998\nMax: 1998,0.0,1.000000e+04,1998.00,1.998000e+03,1998.000000,1.998000e+03
42,1999,43809,GDP-per-capita-all-countries,numeric,"469,1280301","76654,25591",Gross Domestic Product (GDP) is the monetary v...,Min: 1990\nMax: 2010,1999: min=1999 max=1999,The minimum and maximum values for the feature...,1990.0,2.010000e+03,NaN,NaN,NaN,NaN
43,2000,43809,GDP-per-capita-all-countries,numeric,"455,8150878","86169,39432",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1500\nMaximum: 2500,Minimum: 2000\nMaximum: 2019,The range of values for the feature 2000 from ...,1500.0,2.500000e+03,2000.00,2.019000e+03,NaN,NaN
44,2001,43809,GDP-per-capita-all-countries,numeric,"443,5747121","88138,42244",Gross Domestic Product (GDP) is the monetary v...,Minimum: 1\nMaximum: 3000,Minimum: 2001 \nMaximum: 2001,The minimum and maximum values for the feature...,1.0,3.000000e+03,2001.00,2.001000e+03,NaN,NaN
45,2002,43809,GDP-per-capita-all-countries,numeric,"450,4504171","92091,2766",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2002\nMaximum: 2002,The range of values for the feature 2002 is: M...,0.0,1.000000e+02,2002.00,2.002000e+03,NaN,NaN
46,2003,43809,GDP-per-capita-all-countries,numeric,"469,7704098","91451,60854",Gross Domestic Product (GDP) is the monetary v...,2003: Minimum value: unknown. Maximum value: u...,Minimum: 2003\nMaximum: 2003,Based on the dataset provided the range of val...,NaN,NaN,2003.00,2.003000e+03,NaN,NaN
47,2004,43809,GDP-per-capita-all-countries,numeric,"498,9798703","101329,4787",Gross Domestic Product (GDP) is the monetary v...,NaN,Minimum: 2004\nMaximum: 2004,Min: 2004\nMax: 2004,NaN,NaN,2004.00,2.004000e+03,2004.000000,2.004000e+03
48,2005,43809,GDP-per-capita-all-countries,numeric,"528,9747838","97768,57115",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2005\nMaximum: 2005,Min: 2005\nMax: 2005,0.0,1.000000e+02,2005.00,2.005000e+03,2005.000000,2.005000e+03
49,2006,43809,GDP-per-capita-all-countries,numeric,"555,799958","107541,4558",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 1000000,Minimum: 2006\nMaximum: 2006,The min and max values for the feature 2006 fr...,0.0,1.000000e+06,2006.00,2.006000e+03,NaN,NaN
50,2007,43809,GDP-per-capita-all-countries,numeric,"586,9952654","109362,5076",Gross Domestic Product (GDP) is the monetary v...,Minimum: 2007\nMaximum: 2007,Minimum: 2007\nMaximum: 2007,Min: 485415.9\nMax: 21345493.9,2007.0,2.007000e+03,2007.00,2.007000e+03,485415.900000,2.134549e+07
51,2008,43809,GDP-per-capita-all-countries,numeric,"615,0719745","111255,9944",Gross Domestic Product (GDP) is the monetary v...,"The minimum value for the feature ""2008"" is: u...",Minimum: 2008\nMaximum: 2008,Min: 2008\nMax: 2008,NaN,NaN,2008.00,2.008000e+03,2008.000000,2.008000e+03
52,2009,43809,GDP-per-capita-all-countries,numeric,"616,6586194","108953,6771",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2009\nMax: 2009,Based on the given dataset the range of values...,0.0,1.000000e+05,2009.00,2.009000e+03,NaN,NaN
53,2010,43809,GDP-per-capita-all-countries,numeric,"646,2953953","117518,7009",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,2010: min = 2010 max = 2010,Based on the given dataset description we can ...,0.0,1.000000e+05,NaN,NaN,2010.000000,2.010000e+03
54,2011,43809,GDP-per-capita-all-countries,numeric,"682,007332","124024,5682",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 99999,Minimum: 2011\nMaximum: 2011,Min: 2011 Max: 2011,0.0,9.999900e+04,2011.00,2.011000e+03,2011.000000,2.011000e+03
55,2012,43809,GDP-per-capita-all-countries,numeric,"719,914259","126618,3727",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2012\nMaximum: 2012,"The range of values for the feature ""2012"" in ...",0.0,1.000000e+02,2012.00,2.012000e+03,NaN,NaN
56,2013,43809,GDP-per-capita-all-countries,numeric,"699,5928807","139962,1749",Gross Domestic Product (GDP) is the monetary v...,Min: 0\nMax: 100,Minimum: 2013\nMaximum: 2013,"The range of values for the feature ""2013"" can...",0.0,1.000000e+02,2013.00,2.013000e+03,NaN,NaN
57,2014,43809,GDP-per-capita-all-countries,numeric,"710,8121645","137832,9615",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2014\nMaximum: 2014,"The range of values for the feature ""2014"" in ...",0.0,1.000000e+02,2014.00,2.014000e+03,2014.000000,2.014000e+03
58,2015,43809,GDP-per-capita-all-countries,numeric,"744,7345426","123822,0833",Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100,Minimum: 2015\nMaximum: 2015,"The range of values for the feature ""2015"" in ...",0.0,1.000000e+02,2015.00,2.015000e+03,NaN,NaN
59,2016,43809,GDP-per-capita-all-countries,numeric,"743,9035976","123573,6308",Gross Domestic Product (GDP) is the monetary v...,Minimum: Unknown\nMaximum: Unknown,Minimum: 2016\nMaximum: 2016,"The range of values for the feature ""2016"" in ...",NaN,NaN,2016.00,2.016000e+03,NaN,NaN
60,2017,43809,GDP-per-capita-all-countries,numeric,"737,9785829","124609,3041",Gross Domestic Product (GDP) is the monetary v...,min: 0\nmax: 100,Min: 2017\nMax: 2017,To set a range of values for the feature 2017 ...,0.0,1.000000e+02,2017.00,2.017000e+03,NaN,NaN
61,2018,43809,GDP-per-capita-all-countries,numeric,"744,182072","126898,4259",Gross Domestic Product (GDP) is the monetary v...,The minimum and maximum values for the feature...,Min: 2018 Max: 2018,Min: 1990\nMax: 2019,NaN,NaN,2018.00,2.018000e+03,1990.000000,2.019000e+03
62,2019,43809,GDP-per-capita-all-countries,numeric,NaN,NaN,Gross Domestic Product (GDP) is the monetary v...,Minimum: 0\nMaximum: 100000,Min: 2019\nMax: 2019,To determine the range of values for the featu...,0.0,1.000000e+05,2019.00,2.019000e+03,NaN,NaN
63,Unnamed:_0,43825,Nutritional-values-for-common-foods-and-products,numeric,0,8788,Context\nI found this data occasionally and I ...,min: -∞\nmax: +∞,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Unnamed:_...",NaN,NaN,NaN,NaN,NaN,NaN
64,calories,43825,Nutritional-values-for-common-foods-and-products,numeric,0,902,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,"min(calories), max(calories)","The range of values for the feature ""calories""...",0.0,5.000000e+03,NaN,NaN,NaN,NaN
65,lucopene,43825,Nutritional-values-for-common-foods-and-products,numeric,0,0,Context\nI found this data occasionally and I ...,Minimum: 0\nMaximum: 5000,Minimum: 0\nMaximum: Unknown (Not provided in ...,Min: 0.0\n\nMax: 2181.0,0.0,5.000000e+03,NaN,NaN,0.000000,2.181000e+03
66,Year,43831,Consumer-Price-Index,numeric,2013,2020,Consumer Price Indices (CPI) measure changes o...,Min: 2000 Max: 2021,Minimum: Year 0 (assuming it starts from year ...,"Based on the provided dataset, the range of va...",2000.0,2.021000e+03,NaN,NaN,NaN,NaN
67,Cereals_and_products,43831,Consumer-Price-Index,numeric,"107,5","152,7",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Min: 0, Max: Unlimited",Min: 0.00 \nMax: 600.00,0.0,1.000000e+02,NaN,NaN,0.000000,6.000000e+02
68,Meat_and_fish,43831,Consumer-Price-Index,numeric,"106,3",197,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10000,Minimum: 0\nMaximum: Not provided,"Min: The minimum value for the feature ""Meat_a...",0.0,1.000000e+04,NaN,NaN,NaN,NaN
69,Egg,43831,Consumer-Price-Index,numeric,"102,7",157,Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 200,Minimum: 0\nMaximum: Unknown,"The range of values for the feature ""Egg"" in t...",0.0,2.000000e+02,NaN,NaN,NaN,NaN
70,Milk_and_products,43831,Consumer-Price-Index,numeric,"103,6","155,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 30000,Minimum: 0 \nMaximum: Unknown,Min: 0\nMax: 100,0.0,3.000000e+04,NaN,NaN,0.000000,1.000000e+02
71,Oils_and_fats,43831,Consumer-Price-Index,numeric,"101,1","138,2",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 40,Minimum: 0.0\nMaximum: 100.0,"The range of values for the feature ""Oils_and_...",0.0,4.000000e+01,0.00,1.000000e+02,NaN,NaN
72,Fruits,43831,Consumer-Price-Index,numeric,"102,3","157,5",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,"Minimum: 0, Maximum: Unknown","The range of values for the feature ""Fruits"" i...",0.0,1.000000e+02,NaN,NaN,NaN,NaN
73,Vegetables,43831,Consumer-Price-Index,numeric,"101,4","231,5",Consumer Price Indices (CPI) measure changes o...,min: 0.5 \nmax: 5.0,Minimum: 0\nMaximum: Not enough information pr...,Min: 0\nMax: 100,0.5,5.000000e+00,NaN,NaN,0.000000,1.000000e+02
74,Pulses_and_products,43831,Consumer-Price-Index,numeric,"103,5","191,6",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100000,Minimum: 0\nMaximum: Cannot determine without ...,Min: 0\nMax: unknown,0.0,1.000000e+05,NaN,NaN,NaN,NaN
75,Sugar_and_Confectionery,43831,Consumer-Price-Index,numeric,"85,3","123,9",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 100,Minimum: 0\nMaximum: Unknown,There is insufficient information given in the...,0.0,1.000000e+02,NaN,NaN,NaN,NaN
76,Spices,43831,Consumer-Price-Index,numeric,"101,8","159,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: 100,"Based on the given dataset, the range of value...",0.0,1.000000e+01,0.00,1.000000e+02,NaN,NaN
77,Non-alcoholic_beverages,43831,Consumer-Price-Index,numeric,"104,8","142,1",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 10,Minimum: 0\nMaximum: Unknown,Non-alcoholic_beverages: Min = 0 Max = Unspeci...,0.0,1.000000e+01,NaN,NaN,NaN,NaN
78,"Prepared_meals,_snacks,_sweets_etc.",43831,Consumer-Price-Index,numeric,"106,7","161,8",Consumer Price Indices (CPI) measure changes o...,Minimum: 0\nMaximum: 1000,Minimum: 0\nMaximum: It is not possible to det...,Min: 0\nMax: 100,0.0,1.000000e+03,NaN,NaN,0.000000,1.000000e+02
79,Food_and_beverages,43831,Consumer-Price-Index,numeric,"105,5",157,Consumer Price Indices (CPI) measure changes o...,Min: 0 Max: 100,Minimum: 0\nMaximum: 1,"The range of values for the feature ""Food_and_...",0.0,1.000000e+02,0.00,1.000000e+00,NaN,NaN

In [28]:
features_cleaned["dataset_min_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["dataset_min_value"]]
features_cleaned["dataset_max_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["dataset_max_value"]]

features_cleaned["just_feature_min_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["just_feature_min_value"]]
features_cleaned["just_feature_max_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["just_feature_max_value"]]


features_cleaned["all_feature_min_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["all_feature_min_value"]]
features_cleaned["all_feature_max_value"] = [float(str(i).replace(",", ".")) for i in features_cleaned["all_feature_max_value"]]

features_cleaned["all_feature_min_value_desc"] = [float(str(i).replace(",", ".")) for i in features_cleaned["all_feature_min_value_desc"]]
features_cleaned["all_feature_max_value_desc"] = [float(str(i).replace(",", ".")) for i in features_cleaned["all_feature_max_value_desc"]]

In [29]:
features_cleaned.to_csv("test_zwischen_erweitert.csv",sep = ";")

In [34]:
features_cleaned.to_csv("test_zwischen.csv",sep = ";")